/* SELETOR UNIVERSAL */
* {
  /* os espacamentos internos e externos sao resetados */
  margin: 0;
  padding: 0;
  /* o tamanho das caixas devera se encaixar ao tamanho da borda */
  box-sizing: border-box;
}

/* VARIAVEIS SE DARK MODE ATIVO */
:root {
  /* cor do texto */
  --text-color: white;
  /* fundo mobile */
  --bg-url: url(./assets/bg-mobile.jpg);
  /* cor da borda */
  --stroke-color: rgb(255, 255, 255, 0.5);
  /* fundo botoes */
  --surface-color: rgb(255, 255, 255, 0.1);
  /* fundo botoes hover */
  --surface-color-hover: rgb(0, 0, 0, 0.02);
  /* sombreado hover social links */
  --highlight-color: rgb(255, 255, 255, 0.2);
  /* svg icone switch */
  --switch-bg-url: url(./assets/MoonStars.svg);
}

/* VARIAVEIS SE LIGHT MODE ATIVO*/
.light {
  /* cor do texto */
  --text-color: black;
  /* fundo mobile */
  --bg-url: url(./assets/bg-mobile-light.jpg);
  /* cor da borda */
  --stroke-color: rgb(0, 0, 0, 0.5);
  /* fundo botoes */
  --surface-color: rgb(0, 0, 0, 0.05);
  /* fundo botoes hover */
  --surface-color-hover: rgb(0, 0, 0, 0.02);
  /* sombreado hover social links */
  --highlight-color: rgb(0, 0, 0, 0.1);
  /* svg icone switch */
  --switch-bg-url: url(./assets/Sun.svg);
}

/* JANELA */
body {
  /*
  background-image: url(./assets/bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  SHORT HAND/ATALHO -> background: color image repeat position/size
  */
  background: var(--bg-url) no-repeat top center/cover;
  height: 100vh;
}

/* APLICAR A TODOS ELEMENTOS DO BODY */
body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

/* CAIXA PRINCIPAL */
#container {
  width: 100%;
  max-width: 588px;
  /* SHORT HAND/ATALHO -> border: size style color
  border: 1px solid red;
  SEQUENCIA: 
  2 topbottom>leftright ou
  4 top>right>bottom>left ou
  3 top>leftright>bottom 
  */
  margin: auto;
  margin-top: 56px;
  padding: 0 24px;
}

/* CAIXA AVATAR E ARROBA */
#profile {
  margin: auto;
  text-align: center;
  padding: 24px;
}

/* AVATAR */
#profile img {
  width: 112px;
  /* margin:auto; -> nao funciona com a tag img pois é display:inline (talvez pode-se utilizar o text-align na tag pai) */
  display: block;
  margin: auto;
}

/*ARROBA*/
#profile p {
  /* bold */
  font-weight: 500;
  /* altura de linha */
  line-height: 24px;
  margin-top: 8px;
}

/* BOTAO DE TROCA MODO DARK/LIGHT */
#switch {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  /* permite que os elementos dentro da div sejam posicionados de modo relativo a ele */
  position: relative;
  width: 64px;
  height: 40px;
}

/* BOTAO COM SVG */
#switch button {
  /* posicao absoluta relativa a tag pai */
  position: absolute;
  /* ficara no canto esquerdo */
  right: 0;
  /* controle de camadas (layers) para sobreposicao de elementos */
  z-index: 1;
  transform: translateX(-100%);
  transition: all 1s;
  width: 32px;
  height: 32px;
  border: 0;
  border-radius: 50%;
  background: white var(--switch-bg-url) no-repeat center;
}

/* BOTAO COM SVG LIGHT */
.light #switch button {
  /* efeito de scroll do botao, fazendo o elemento caminhar no eixo x */
  transform: translateX(1%);
  transition: all 1s;
}

/* FUNDO PARA EFEITO SCROLL DO BOTAO */
#switch span {
  display: block;
  border-radius: 9999px;
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: var(--stroke-color) 1px solid;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

/*BOTOES DE LINKS*/
ul {
  list-style: none;
  /*encaixara os elementos de maneira flexivel (vert/horiz)*/
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 0;
}

/*BOTOES*/

/*LINKS*/
ul li a {
  display: flex;
  /* ira centralizar o conteudo horizontalmente */
  justify-content: center;
  /* ira centralizar o conteudo verticalmente */
  align-items: center;
  /* o padding ira definir o tamanho do botao atraves do espacamento interno */
  padding: 16px 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 8px;
  /* algumas versoes de browser pedem que seja usado um prefixo -webkit- para usar certos atributos */
  backdrop-filter: blur(4px);
  /* tirar a decoraçao de link padrao do browser */
  text-decoration: none;
  font-weight: 500;
  /* transitar apenas o background */
  transition: background 0.2s;
}

/*LINKS (PSEUDOSELETOR HOVER)*/
ul li a:hover {
  background: var(--surface-color-hover);
  border: 1.5px solid var(--text-color);
}

/*SOCIAL LINKS*/
#social-links {
  padding: 24px 0;
  display: flex;
  justify-content: center;
  font-size: 24px;
}

/*CADA SELEMENTO DE SOCIAL LINKS*/
#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  transition: background 0.2s;
  /*circulo perfeito*/
  border-radius: 50%;
}

/*CADA SELEMENTO DE SOCIAL LINKS HOVER*/
#social-links a:hover {
  background: var(--highlight-color);
}

footer {
  padding: 24px 0;
  text-align: center;
  font-size: 14px;
}

@media (min-width: 700px) {
  :root {
    --bg-url: url(./assets/bg-desktop.jpg);
  }

  .light {
    --bg-url: url(./assets/bg-desktop-light.jpg);
  }
}
